node-red/flows.json
[
    {
        "id": "tab-motor-monitor",
        "type": "tab",
        "label": "Motor Monitor",
        "disabled": false,
        "info": "Merged flow: code-v2 Node-RED Dashboard v3 (chart, gauge, alert log, fan control) + InfluxDB historian writer"
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "mosquitto-broker",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB-motor_health",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": false,
        "token": "co326-super-secret-token-change-in-prod"
    },
    {
        "id": "ui-base-config",
        "type": "ui-base",
        "name": "Motor Health Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ui-theme-config",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui-page-motor",
        "type": "ui-page",
        "name": "Motor Monitor",
        "ui": "ui-base-config",
        "path": "/page1",
        "icon": "home",
        "layout": "flex",
        "theme": "ui-theme-config",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui-group-temp",
        "type": "ui-group",
        "name": "Temperature Visualization",
        "page": "ui-page-motor",
        "width": 15,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui-group-fan",
        "type": "ui-group",
        "name": "Cooling Fan Control",
        "page": "ui-page-motor",
        "width": 4,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },

    {
        "id": "mqtt-in-sensor",
        "type": "mqtt in",
        "z": "tab-motor-monitor",
        "name": "Temperature Data",
        "topic": "sensors/group10/motorTemp/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            ["fn-extract-temp"]
        ]
    },
    {
        "id": "fn-extract-temp",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            ["ui-chart-temp", "ui-gauge-temp"]
        ]
    },
    {
        "id": "ui-chart-temp",
        "type": "ui-chart",
        "z": "tab-motor-monitor",
        "group": "ui-group-temp",
        "name": "Temperature Chart",
        "label": "Motor Temperature",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Temperature (°C)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "40",
        "ymax": "120",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": ["#666666"],
        "textColorDefault": true,
        "gridColor": ["#e5e5e5"],
        "gridColorDefault": true,
        "width": 10,
        "height": 9,
        "className": "",
        "interpolation": "smooth",
        "x": 640,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "ui-gauge-temp",
        "type": "ui-gauge",
        "z": "tab-motor-monitor",
        "name": "Temperature Gauge",
        "group": "ui-group-temp",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 5,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Current Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from": "0",  "color": "#5cd65c", "text": "NORMAL",   "textType": "str"},
            {"from": "75", "color": "#ffc800", "text": "WARNING",  "textType": "str"},
            {"from": "85", "color": "#ea5353", "text": "CRITICAL", "textType": "str"}
        ],
        "min": 0,
        "max": "120",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [[]]
    },

    {
        "id": "mqtt-in-alerts",
        "type": "mqtt in",
        "z": "tab-motor-monitor",
        "name": "Alert Data",
        "topic": "alerts/group10/motorTemp/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            ["fn-format-alert", "fn-format-log", "fn-influx-prep"]
        ]
    },
    {
        "id": "fn-format-alert",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Alert Status",
        "func": "let status = msg.payload.status;\nlet color = \"green\";\nif (status === \"WARNING\") color = \"orange\";\nif (status === \"CRITICAL\") color = \"red\";\nmsg.payload = `<span style=\"color:${color}; font-size:24px; font-weight:bold;\">${status}</span>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [["ui-text-alert-status"]]
    },
    {
        "id": "ui-text-alert-status",
        "type": "ui-text",
        "z": "tab-motor-monitor",
        "group": "ui-group-temp",
        "order": 3,
        "width": 5,
        "height": 0,
        "name": "Alert Status",
        "label": "Alert Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "fn-format-log",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Alert Log",
        "func": "let log = context.get(\"log\") || [];\nlet status = msg.payload.status;\nlet temp = msg.payload.temperature.toFixed(2);\nlet z = msg.payload.z_score.toFixed(2);\nlet time = new Date().toLocaleTimeString();\nlet entry = `[${time}] ${status} — ${temp}°C (z: ${z})`;\nlog.unshift(entry);\nif (log.length > 10) log = log.slice(0, 10);\ncontext.set(\"log\", log);\nmsg.payload = log.join(\"<br>\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [["ui-text-alert-log"]]
    },
    {
        "id": "ui-text-alert-log",
        "type": "ui-text",
        "z": "tab-motor-monitor",
        "group": "ui-group-temp",
        "order": 4,
        "width": 5,
        "height": 0,
        "name": "Alert Log",
        "label": "Alert Log",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "fn-influx-prep",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Prep InfluxDB Write",
        "func": "// Write alert data to InfluxDB measurement 'motor_thermal_v2'\n// This keeps the Grafana digital twin dashboard updated.\nvar p = msg.payload;\nvar statusNum = p.status === \"CRITICAL\" ? 2 : p.status === \"WARNING\" ? 1 : 0;\nmsg.payload = [\n    {\n        measurement: \"motor_thermal_v2\",\n        tags: { group: \"group10\", project: \"motorTemp\" },\n        fields: {\n            temperature:  p.temperature,\n            z_score:      p.z_score,\n            status_code:  statusNum,\n            fan_command:  p.fan_command === \"ON\" ? 1 : 0\n        },\n        timestamp: new Date()\n    }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "influxdb-out",
        "type": "influxdb out",
        "z": "tab-motor-monitor",
        "influxdb": "influxdb-config",
        "name": "Write to InfluxDB",
        "measurement": "motor_thermal_v2",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "co326",
        "bucket": "motor_health",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "debug-alerts",
        "type": "debug",
        "z": "tab-motor-monitor",
        "name": "Debug Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },

    {
        "id": "ui-btn-fan-on",
        "type": "ui-button",
        "z": "tab-motor-monitor",
        "group": "ui-group-fan",
        "name": "Fan ON",
        "label": "Fan ON",
        "order": 5,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 620,
        "wires": [["fn-format-fan-on"]]
    },
    {
        "id": "ui-btn-fan-off",
        "type": "ui-button",
        "z": "tab-motor-monitor",
        "group": "ui-group-fan",
        "name": "Fan OFF",
        "label": "Fan OFF",
        "order": 4,
        "width": 2,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 700,
        "wires": [["fn-format-fan-off"]]
    },
    {
        "id": "fn-format-fan-on",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Fan ON",
        "func": "msg.payload = JSON.stringify({\"command\": \"ON\"});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [["mqtt-out-fan"]]
    },
    {
        "id": "fn-format-fan-off",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Fan OFF",
        "func": "msg.payload = JSON.stringify({\"command\": \"OFF\"});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [["mqtt-out-fan"]]
    },
    {
        "id": "mqtt-out-fan",
        "type": "mqtt out",
        "z": "tab-motor-monitor",
        "name": "Fan Command Out",
        "topic": "control/group10/motorTemp/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "ui-switch-mode",
        "type": "ui-switch",
        "z": "tab-motor-monitor",
        "name": "Control Mode",
        "label": "AUTO / MANUAL",
        "group": "ui-group-fan",
        "order": 3,
        "width": 2,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "label",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 820,
        "wires": [["fn-format-mode"]]
    },
    {
        "id": "fn-format-mode",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Mode",
        "func": "msg.payload = JSON.stringify({\"mode\": msg.payload});\nmsg.retain = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [["mqtt-out-mode", "fn-format-mode-text"]]
    },
    {
        "id": "mqtt-out-mode",
        "type": "mqtt out",
        "z": "tab-motor-monitor",
        "name": "Control Mode Out",
        "topic": "control/group10/motorTemp/mode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "fn-format-mode-text",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Format Mode Text",
        "func": "let data = msg.payload;\nif (typeof data === \"string\") { data = JSON.parse(data); }\nlet mode = data.mode;\nlet color = mode === \"AUTO\" ? \"green\" : \"red\";\nmsg.payload = `<span style=\"color:${color}; font-size:20px; font-weight:bold;\">${mode}</span>`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 880,
        "wires": [["ui-text-mode"]]
    },
    {
        "id": "ui-text-mode",
        "type": "ui-text",
        "z": "tab-motor-monitor",
        "group": "ui-group-fan",
        "order": 2,
        "width": 3,
        "height": 0,
        "name": "Mode Indicator",
        "label": "Current Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 880,
        "wires": []
    },
    {
        "id": "mqtt-in-fan-state",
        "type": "mqtt in",
        "z": "tab-motor-monitor",
        "name": "Fan State In",
        "topic": "control/group10/motorTemp/fan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 980,
        "wires": [["fn-extract-fan-cmd"]]
    },
    {
        "id": "fn-extract-fan-cmd",
        "type": "function",
        "z": "tab-motor-monitor",
        "name": "Extract Fan Cmd",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 980,
        "wires": [["ui-template-fan-status"]]
    },
    {
        "id": "ui-template-fan-status",
        "type": "ui-template",
        "z": "tab-motor-monitor",
        "group": "ui-group-fan",
        "page": "",
        "ui": "",
        "name": "Fan Status",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"display:flex; flex-direction:column; align-items:center; justify-content:center; padding:16px;\">\n    <svg :class=\"isOn ? 'spinning' : ''\" width=\"80\" height=\"80\" viewBox=\"0 0 100 100\">\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(0 50 50)\"/>\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(60 50 50)\"/>\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(120 50 50)\"/>\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(180 50 50)\"/>\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(240 50 50)\"/>\n      <ellipse cx=\"50\" cy=\"25\" rx=\"10\" ry=\"24\" fill=\"#42a5f5\" opacity=\"0.85\" transform=\"rotate(300 50 50)\"/>\n      <circle cx=\"50\" cy=\"50\" r=\"8\" fill=\"#1565c0\"/>\n      <circle cx=\"50\" cy=\"50\" r=\"4\" fill=\"#90caf9\"/>\n    </svg>\n    <span :style=\"{marginTop: '8px', fontSize: '16px', fontWeight: 'bold', color: isOn ? '#00c853' : '#999'}\">\n      {{ isOn ? 'FAN ON' : 'FAN OFF' }}\n    </span>\n  </div>\n</template>\n\n<script>\nexport default {\n  props: ['msg'],\n  computed: {\n    isOn() {\n      return this.msg && this.msg.payload === 'ON';\n    }\n  }\n}\n</script>\n\n<style>\n.spinning {\n  display: inline-block;\n  animation: spin 0.8s linear infinite;\n}\n@keyframes spin {\n  from { transform: rotate(0deg); }\n  to { transform: rotate(360deg); }\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 980,
        "wires": [[]]
    }
]
